/* Fondo general */
.bg-esquina {
  background-color: #f4ebe2;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Banner */
.banner-principal {
  background-image: url('../img/cafe.png');
  height: 90vh;
  max-height: 600px;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.banner-principal .text-content h1 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  word-break: break-word;
}


.btn-banner {

  background-color:#007e60;
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  color: white;
  border: none;
  transition: all 0.3s ease;

}


.btn-banner:hover {
  background-color: rgba(119, 119, 119, 0.95); 
  color: white;
}


/* Botones del navbar */
.btn-ingresar {
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.btn-registrate {
  background-color: #B0A59F;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.carousel .blockquote {
  padding: 1.5rem;
  font-size: 1.2rem;
}

.carousel .blockquote-footer {
  font-style: italic;
  color: #6c757d;
}


/* Footer */
.footer-nav a {
  color: #777;
  text-decoration: none;
  padding: 0 10px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

.footer-nav a:hover {
  border-bottom: 1px solid #999;
  color: #000;
}

.footer-esquina {
  background-color: #FDF3F0;
}

html, body {
  overflow-x: hidden;
}


.producto-destacado {
  max-width: 280px;     /* igual o similar al alto de .img-producto */
  text-align: center;
}

.img-producto {
  height: 280px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 10px;
}

